@media (max-width: 768px) {

}

@media (min-width: 769px) {
   
}

@media (min-width: 361px) {
    .product-info {
        display: block;
    }
}


@media (min-width: 769px) {
    .product-details {
        max-width: 90%; 
        margin: 0 auto;
    }
}

body {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;

}

form {
    text-align: center; 
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo {
    width: 150px;
}

.product p.precio {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product p.descuento {
    font-size: 16px;
    color: green;
    font-weight: bold;
    margin-bottom: 10px;
    white-space: pre-line;
}

.product p.producto {
    font-size: 16px;
    margin-bottom: 10px;
}

.burger-menu {
    position: fixed;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: blue; 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.burger-menu i {
    font-size: 24px; 
}

.img-producto {
    max-width: 100px;
    text-align: center; 
}

li {
    display: flex; 
    align-items: center; 
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #424242; 
    margin-right: 10px; 
}

.promote {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-bottom: 20px; 
    font-size: 16px;
    margin-right: 20px;
    margin: 0;
}

i {
    font-size: 22px; */
}

footer {
    background-color: white; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 20px; 
}

.footer-section {
    text-align: center; 
    margin-bottom: 20px; 
}

.footer-section i {
    font-size: 2em; 
    margin-bottom: 10px;
}

.icon-container {
    display: inline-block; 
    background-color: white;
    border: 1px solid black; 
    padding: 10px; 
    width: 15px; 
    height: 15px; 
    text-align: center;
    line-height: 5px; 
}

.icon-container i {
    font-size: 18px; 
}


main{
    background-color: #f6f6f6;
    text-align: center;
    width: 90%;
    margin: 0 auto;

}

.main2{
    background-color: #f6f6f6;
    text-align: center;
    width: 50%;
    margin: 0 auto;

}

.product-details {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    padding: 15px;
    border-top: 1px solid #ebebeb;
    margin-top: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.product {
    margin-bottom: 10px;
}

.img-producto {
    max-width: 100px;
    margin-right: 10px;
}

.precio {
    font-weight: bold;
}

.descuento {
    color: green;
    font-weight: bold;
}

.producto {
    font-size: 1.2em;
}


label, input, select {
    display: block;
    margin-bottom: 10px;
}