body {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
}

.logo {
    width: 150px;
}

.product p.precio {
    font-size: 48px;
}

.product p.descuento {
    font-size: 16px;
}

.product p.producto {
    font-size: 16px;
}

.burguer-menu {
    background-color: blue;
}

